@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn-primary{
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-blue-600 cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-danger{
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-red-700 cursor-pointer hover:opacity-70 transition-all;
}

.slick-dots {
  @apply !flex justify-start w-full;
}

.slick-dots li {
  @apply !m-0;
}

.slick-dots .slick-active div {
  @apply bg-primary scale-150;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}

.instagram-icon {
  background-color: #E1306C; /* Arka plan rengini burada değiştirin */
}

.size-option {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  transition: border-color 0.3s ease;
}

.size-option.selected {
  border-color: rgb(42, 5, 227);
}

@keyframes rainbow {
  0% { color: #ff0000; } /* Kırmızı */
  20% { color: #ff7f00; } /* Turuncu */
  40% { color: #ffff00; } /* Sarı */
  60% { color: #00ff00; } /* Yeşil */
  80% { color: #0000ff; } /* Mavi */
  100% { color: #4b0082; } /* İndigo */
}

.animate-rainbow {
  animation: rainbow 5s linear infinite;
}